@font-face {
  font-family: 'Circular Std';
  src: url('/static/Circular-Fonts/CircularStd-Bold.woff2') format('woff2'),
    url('/static/Circular-Fonts/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('/static/Circular-Fonts/CircularStd-Book.woff2') format('woff2'),
    url('/static/Circular-Fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
